[submodule "vimfiles/pack/vimwiki/start/calendar-vim"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/start/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vimfiles/pack/tpope/start/vim-fugitive"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/pack/python/start/vim-pandoc-syntax"]
	ignore = dirty
	path = vimfiles/pack/python/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vimfiles/pack/tpope/start/vim-surround"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/pack/vimwiki/start/vimwiki"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vimfiles/pack/python/start/vim-pandoc"]
	ignore = dirty
	path = vimfiles/pack/python/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vimfiles/pack/tpope/start/vim-sensible"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vimfiles/pack/dev/start/vim-gutentags"]
	ignore = dirty
	path = vimfiles/pack/dev/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vimfiles/pack/dev/start/quick-scope"]
	ignore = dirty
	path = vimfiles/pack/dev/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vimfiles/pack/dev/start/editorconfig-vim"]
	ignore = dirty
	path = vimfiles/pack/dev/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/pack/python/opt/ultisnips"]
	ignore = dirty
	path = vimfiles/pack/python/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/pack/python/opt/vim-snippets"]
	ignore = dirty
	path = vimfiles/pack/python/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/pack/tpope/start/vim-unimpaired"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/pack/tpope/start/vim-repeat"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/pack/tpope/start/vim-commentary"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/pack/python/opt/vim-pydocstring"]
	ignore = dirty
	path = vimfiles/pack/python/opt/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vimfiles/pack/tpope/start/vim-abolish"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimfiles/pack/themes/opt/solarized8"]
	ignore = dirty
	path = vimfiles/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vimfiles/pack/tpope/start/vim-obsession"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vimfiles/pack/undotree/opt/undotree"]
	ignore = dirty
	path = vimfiles/pack/undotree/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vimfiles/pack/tpope/opt/vim-scriptease"]
	ignore = dirty
	path = vimfiles/pack/tpope/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vimfiles/pack/tpope/start/vim-vinegar"]
	ignore = dirty
	path = vimfiles/pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vimfiles/pack/dev/start/ale"]
	ignore = dirty
	path = vimfiles/pack/dev/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vimfiles/pack/dev/start/vim-polyglot"]
	ignore = dirty
	path = vimfiles/pack/dev/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vimfiles/pack/dev/start/vim-powershell"]
	ignore = dirty
	path = vimfiles/pack/dev/start/vim-powershell
	url = https://github.com/zigford/vim-powershell.git
[submodule "vimfiles/pack/dev/start/vim-table-mode"]
	ignore = dirty
	path = vimfiles/pack/dev/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vimfiles/pack/python/opt/vimtex"]
	ignore = dirty
	url = https://github.com/lervag/vimtex.git
	active = true
	path = vimfiles/pack/python/opt/vimtex
[submodule "vimfiles/pack/dev/start/vim-ripgrep"]
	ignore = dirty
	path = vimfiles/pack/dev/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vimfiles/pack/vimwiki/opt/taskwiki"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/opt/taskwiki
	url = https://github.com/tools-life/taskwiki.git
[submodule "vimfiles/pack/vimwiki/opt/tagbar"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/opt/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vimfiles/pack/vimwiki/opt/vim-plugin-AnsiEsc"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/opt/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule "vimfiles/pack/vimwiki/opt/vim-taskwarrior"]
	ignore = dirty
	path = vimfiles/pack/vimwiki/opt/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior.git
[submodule "vimfiles/pack/coc/opt/coc.nvim"]
	ignore = dirty
	path = vimfiles/pack/coc/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "panvimwiki"]
	path = panvimwiki
	url = https://github.com/jfishe/panvimwiki.git
	branch = main
