[submodule "vimfiles/bundle/vim-pathogen"]
	ignore = dirty
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/calendar-vim"]
	ignore = dirty
	path = vimfiles/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vimfiles/bundle/jedi-vim"]
	ignore = dirty
	path = vimfiles/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vimfiles/bundle/vim-fugitive"]
	ignore = dirty
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-latex"]
	ignore = dirty
	path = vimfiles/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vimfiles/bundle/vim-pandoc-syntax"]
	ignore = dirty
	path = vimfiles/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	ignore = dirty
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-surround"]
	ignore = dirty
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vimwiki"]
	ignore = dirty
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vimfiles/bundle/vim-pandoc"]
	ignore = dirty
	path = vimfiles/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vimfiles/bundle/ale"]
	ignore = dirty
	path = vimfiles/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vimfiles/bundle/vim-sensible"]
	ignore = dirty
	path = vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vimfiles/bundle/vim-gutentags"]
	ignore = dirty
	path = vimfiles/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vimfiles/bundle/quick-scope"]
	ignore = dirty
	path = vimfiles/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vimfiles/bundle/editorconfig-vim"]
	ignore = dirty
	path = vimfiles/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/bundle/ultisnips"]
	ignore = dirty
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimfiles/bundle/vim-snippets"]
	ignore = dirty
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/bundle/vim-togglelist"]
	ignore = dirty
	path = vimfiles/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	ignore = dirty
	path = vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/vim-repeat"]
	ignore = dirty
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-commentary"]
	ignore = dirty
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/bundle/vim-pydocstring"]
	ignore = dirty
	path = vimfiles/bundle/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "vimfiles/bundle/vim-abolish"]
	ignore = dirty
	path = vimfiles/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/vim-ps1"]
	ignore = dirty
	path = vimfiles/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vimfiles/pack/themes/opt/solarized8"]
	ignore = dirty
	path = vimfiles/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vimfiles/bundle/vim-obsession"]
	ignore = dirty
	path = vimfiles/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vimfiles/bundle/vim-conda"]
	ignore = dirty
	path = vimfiles/bundle/vim-conda
	url = https://github.com/cjrh/vim-conda.git
[submodule "vimfiles/pack/elm/start/elm-vim"]
	path = vimfiles/pack/elm/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
