[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = John D. Fisher
	email = jdfenw@gmail.com
    ; Set these in ~/.bash_profile or ~/.bashrc to overide:
    ; GIT_AUTHOR_NAME is the human-readable name in the “author” field.
    ; GIT_AUTHOR_EMAIL is the email for the “author” field.
    ; GIT_AUTHOR_DATE is the timestamp used for the “author” field.
    ; GIT_COMMITTER_NAME sets the human name for the “committer” field.
    ; GIT_COMMITTER_EMAIL is the email address for the “committer” field.
    ; GIT_COMMITTER_DATE is used for the timestamp in the “committer” field.
    ; EMAIL is the fallback email address in case the user.email configuration
    ; value isn’t set. If this isn’t set, Git falls back to the system user and
    ; host names.
[core]
	editor = vim
	eol = lf
	autocrlf = input
	attributesfile = ~/.gitattributes_global
[gui]
	displayuntracked = false
[push]
	default = simple
[log]
	decorate = auto
[filter "nbstrip_full"]
    clean = "jq --indent 1 \
                '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
                | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
                | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
                | .cells[].metadata = {} \
                '"
    smudge = cat
    required = true
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[color]
	ui = true
[diff "xlsxdiff"]
	command = git-diff-wrapper.sh
[commit]
    template = ~/.gitmessage.txt
    cleanup = strip
[include]
	path = ~/Git/dotfiles/gitconfig
    ; [credential]
    ; 	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
