### Vim ###
vimfiles/gutentags/
vimfiles/swap/
vimfiles/undo/
vimfiles/view/
vimfiles/thesaurus/
vimfiles/dictionary/
vimfiles/.netrwbook
*.spl
.netrwhist
tags

### Python ###
# Jupyter Notebook
.jupyter/migrated
.jupyter/.mypy_cache
.jupyter/lab/
